/*
@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/ProximaNovaLight/ProximaNova-Light.eot");
	src: url("../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"),
			 url("../fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype");
}
@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"),
			 url("../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "ProximaNovaBlack";
	src: url("../fonts/ProximaNovaBlack/ProximaNova-Black.eot");
	src: url("../fonts/ProximaNovaBlack/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaBlack/ProximaNova-Black.woff") format("woff"),
			 url("../fonts/ProximaNovaBlack/ProximaNova-Black.ttf") format("truetype");
}
@font-face {
	font-family: "ProximaNovaSemibold";
	src: url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.woff") format("woff"),
			 url("../fonts/ProximaNovaSemibold/ProximaNova-Semibold.ttf") format("truetype");
}
@font-face {
	font-family: "ProximaNovaThin";
	src: url("../fonts/ProximaNovaThin/ProximaNova-Thin.eot");
	src: url("../fonts/ProximaNovaThin/ProximaNova-Thin.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaThin/ProximaNova-Thin.woff") format("woff"),
			 url("../fonts/ProximaNovaThin/ProximaNova-Thin.ttf") format("truetype");
}
*/

/* Gipercom */

@font-face {
	font-family: "GipercomRegular";
	src:  url("../fonts/GipercomRegular/BARNAULGROTESK-REG.woff") format("woff"),
		  url("../fonts/GipercomRegular/BARNAULGROTESK-REG.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomItalic";
	src:  url("../fonts/GipercomItalic/BARNAULGROTESK-ITAL.woff") format("woff"),
		  url("../fonts/GipercomItalic/BARNAULGROTESK-ITAL.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomMedium";
	src:  url("../fonts/GipercomMedium/BARNAULGROTESKMEDIUM-REG.woff") format("woff"),
		  url("../fonts/GipercomMedium/BARNAULGROTESKMEDIUM-REG.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomMediumItalic";
	src:  url("../fonts/GipercomMediumItalic/BARNAULGROTESKMEDIUM-ITAL.woff") format("woff"),
		  url("../fonts/GipercomMediumItalic/BARNAULGROTESKMEDIUM-ITAL.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomBold";
	src:  url("../fonts/GipercomBold/BARNAULGROTESKBOLD-REG.woff") format("woff"),
		  url("../fonts/GipercomBold/BARNAULGROTESKBOLD-REG.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomBoldItalic";
	src:  url("../fonts/GipercomBoldItalic/BARNAULGROTESKBOLD-ITAL.woff") format("woff"),
		  url("../fonts/GipercomBoldItalic/BARNAULGROTESKBOLD-ITAL.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomExtrabold";
	src:  url("../fonts/GipercomExtrabold/BARNAULGROTESKEXTRABOLD-REG.woff") format("woff"),
		  url("../fonts/GipercomExtrabold/BARNAULGROTESKEXTRABOLD-REG.ttf") format("truetype");
}
@font-face {
	font-family: "GipercomExtraboldItalic";
	src:  url("../fonts/GipercomExtraboldItalic/BARNAULGROTESKEXTRABOLD-ITAL.woff") format("woff"),
		  url("../fonts/GipercomExtraboldItalic/BARNAULGROTESKEXTRABOLD-ITAL.ttf") format("truetype");
}